@font-face {
  font-family: "Joseph Sophia";
  src: url('./fonts/Joseph Sophia/Joseph Sophia-Regular.woff2') format("woff2"),
  url('./fonts/Joseph Sophia/Joseph Sophia-Regular.woff') format("woff");
}
@font-face {
  font-family: "Sarabun";
  src: url('./fonts/Sarabun/Sarabun-Bold.woff2') format('woff2'),
  url('./fonts/Sarabun/Sarabun-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sarabun";
  src: url('./fonts/Sarabun/Sarabun-Regular.woff2') format('woff2'),
  url('./fonts/Sarabun/Sarabun-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sarabun";
  src: url('./fonts/Sarabun/Sarabun-Italic.woff2') format('woff2'),
  url('./fonts/Sarabun//Sarabun-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Sarabun";
  src: url('./fonts/Sarabun/Sarabun-ExtraLight.woff2') format('woff2'),
  url('./fonts/Sarabun/Sarabun-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Sarabun";
  src: url('./fonts/Sarabun/Sarabun-Thin.woff2') format('woff2'),
  url('./fonts/Sarabun/Sarabun-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/* Custom variables */
:root {
  --palette-light: #F7F9F9;
  
  --palette-color-primary: #8783D1;
  --palette-color-primary-hover: rgb(135, 131, 209, 0.3);
  --palette-color-primary-hover-medium: rgb(135, 131, 209, 0.5);
  --palette-color-primary-hover-dark: rgb(135, 131, 209, 0.8);

  --palette-color-secondary: #048A81;
  --palette-color-secondary-hover: rgb(4, 138, 129, 0.3);
  --palette-color-secondary-hover-medium: rgb(4, 138, 129, 0.5);
  --palette-color-secondary-hover-dark: rgb(4, 138, 129, 0.8);

  --priority-low: #238823;
  --priority-default: #FFBF00;
  --priority-high: #CC3232;

  --box-shadow-color: rgb(51, 38, 29, 0.9); /* Bistre */    
  --main-box-shadow: 10px 10px 10px var(--box-shadow-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('./images/background.jpg');
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  padding: 1rem 0.5rem;
  font-family: 'Sarabun', sans-serif;
}

main {
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  gap: 1rem;
}

header {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

h1, 
h2 {
  font-family: 'Joseph Sophia', cursive;
  font-weight: 200;
  font-size: 3.5rem;
  text-align: center;
}

h1 {
  position: relative;
  top: 0.5rem;
  align-self: center;
  flex-grow: 1;
  letter-spacing: 0.25rem;
}

h2 {
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.list-section,
.task-section, .login {
  background-color: var(--palette-light);
  border: 0.5rem solid var(--palette-color-secondary);
  border-radius: 3rem;
  box-shadow: var(--main-box-shadow);
  padding: 1rem;
  padding-top: 2rem;
}

/* SVG */
.user-icon {
  font-size: 2.5rem;
  color: var(--palette-color-secondary);
  cursor: pointer;
  transition: transform .25s ease;
  background-color: whitesmoke;
  border-radius: 50%;
}

.user-icon:hover {
  transform: scale(1.1);
  transition: transform .5s ease;
  color: var(--palette-color-secondary-hover-medium);
}

.user-icon > * {
  pointer-events: none;
}

.user-panel {
  position: relative;
}

.user-section {
  border-radius: 3rem;
  border-top-right-radius: 0;
  position: absolute;
  background-color: var(--palette-light);
  top: 1rem;
  right: 1rem;
  height: auto;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  z-index: 2;
  border: 1px solid black;
  padding: 1rem;
  box-shadow: var(--main-box-shadow);
}

.login {
  gap: 1.25rem;
  margin: 0 auto;
  align-self: center;
  display: flex;
  padding-top: 1.5rem;
  flex-direction: column;
  width: 400px;
  grid-column: 1 / -1;
  place-items: center;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

section > span {
  width: 100%;
  text-align: left;
  color: var(--box-shadow-color);
}

.loading {
  grid-column: 1 / -1;
  background-color: var(--palette-light);
  border: 0.5rem solid var(--palette-color-secondary);
  border-radius: 3rem;
  box-shadow: var(--main-box-shadow);
  padding: 1rem;
  place-self: center;
  min-width: 300px;
  text-align: center;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-weight: 400;
  border: none;
  row-gap: 1rem;
  column-gap: 0.25rem;
  border-radius: 1.5rem;
  background-color: var(--palette-color-secondary-hover);
  width: 100%;
  padding: 0.75rem;
}

.login form {
  margin-bottom: 0;
}

form button {
  flex-grow: 1;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 3rem;
  border: none;
  color: var(--palette-light);
}

.login form button[type="submit"] {
  flex-basis: 100%;
  background-color: var(--palette-color-secondary);
}

.login button.cancel {
  width: 100%;
  border: none;
  color: var(--palette-light);
  border-radius: 3rem;
  padding: 0.5rem 0.75rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
  flex-basis: 100%;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

p[role="alert"] {
  text-align: right;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-style: normal;
  color: var(--box-shadow-color);
}

/* Default Button styles */
button {
  font-family: 'Sarabun', sans-serif;
  font-size: 1rem;
}

/* (+) button */
button.add {
  width: 80%;
  padding: 0.25rem;
  max-width: 30rem;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: 800;
  align-self: center;
  border: none;
  border-radius: 2rem;
  color: var(--palette-color-secondary);
  background-color: rgba(0,0,0,0.15);
}

button.confirm {
  background-color: var(--priority-low);
}

button.cancel {
  background-color: var(--priority-high);
}

button.user {
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--palette-light);
  background-color: var(--palette-color-secondary);
  border: none;
}

button.delete {
  outline: none;
  border: none;
  right: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

button.delete.list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  background-image: url('./images/icons/trash-light.png');
}

button.delete.task {
  top: 1rem;
  background-image: url('./images/icons/trash.png');
  align-self: end;
}

/* Expand / Hide button */
button.expand {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  border-bottom-left-radius: 3rem 2.5rem;
  border-bottom-right-radius: 3rem 2.5rem;
  transform: translateX(-50%);
  transform-origin: center;
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--palette-color-secondary);
  color: var(--palette-light);
  font-size: 1.1rem;
  letter-spacing: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  text-transform: uppercase;
  transition: letter-spacing 0.5s ease, font-weight 0.5s ease;
  font-weight: 400;
}

/* Default priority button */
button.priority {
  appearance: none;
  width: 5.5rem;
  padding: 0.5rem 0;
  border: none;
  font-size: 0.7rem;
  border-radius: 1rem;
  font-weight: 400;
  color: var(--palette-light);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* Low priority tasks */
button.priority.p0 {
  background-color: var(--priority-low);
}

/* Default priority tasks */
button.priority.p1 {
  color: black;
  background-color: var(--priority-default);
}

/* High priority tasks */
button.priority.p2 {
  background-color: var(--priority-high);
}

/* Priority button on completed task */
.task-item.completed button.priority {
  background-color: var(--box-shadow-color);
  color: var(--palette-light);
}

button.option {
  width: 100%;
  border: none;
  color: var(--palette-light);
  background-color: var(--palette-color-secondary);
  border-radius: 3rem;
  padding: 0.5rem 0.75rem;
}

button:disabled {
  background-color: grey;
  opacity: 0.5;
}

input {
  appearance: none;
  flex-basis: 100%;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  border: none;
  outline: 1px solid black;
}

input:focus,
select:focus {
  appearance: none;
  outline-width: 2px;
}

select,
input[type="date"] {
  appearance: none;
  font-size: 1.1rem;
  flex-basis: 100%;
  min-height: 2rem;
  padding: 0.5rem 0.25rem;
  outline: 1px solid black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* Checkbox style */
input[type="checkbox"] {
  -webkit-appearance: none;
  -webkit-display: grid;
  -webkit-position: relative;
  -webkit-place-content: center;
  -webkit-font-size: 1.8rem;
  -webkit-width: 1rem;
  -webkit-height: 1rem;
  -webkit-outline: 1px solid black;
  
  appearance: none;
  display: grid;
  position: relative;
  place-content: center;
  font-size: 1.8rem;
  width: 1rem;
  height: 1rem;
  outline: 1px solid black;
}

/* Checkbox checkmark */
input[type=checkbox]:checked:after {
  -webkit-appearance: none;
  -webkit-content: '\2713';
  -webkit-color: var(--priority-high);
  -webkit-transform-origin: center;
  
  appearance: none;
  content: '\2713';
  color: var(--priority-high);
  transform-origin: center;
}

/* Aside list section styles */
.list-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border-bottom: 0.5rem solid var(--palette-color-secondary);
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Default list item */
.list-item {
  width: 100%;
  list-style: none;
  text-align: center;
  position: relative;
  padding: 1rem;
  border: 1px solid var(--palette-color-secondary);
  border-radius: 3rem;
  font-size: 1.2rem;
  user-select: none;
}

/* Active list item */
.list-item.active {
  color: var(--palette-light);
  background-color: var(--palette-color-secondary);
  font-weight: 700;
}

.task-section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}

.task-item {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, max-content);
  grid-auto-flow: row;
  position: relative;
  width: 100%;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 0.75rem;
  list-style: none;
  padding: 1rem;
  border: 1px solid var(--palette-color-primary);
  border-radius: 1rem;
}

.task-item.completed {
  opacity: 0.7;
}

.task-item p {
  user-select: none;
}

/* Due date */
.task-item .due {
  text-align: right;
  margin-left: auto;
  font-size: 0.8rem;
}

.task-item .overdue  {
  color: red;
  font-weight: 400;
}


/* Top section of the task i.e. completed, priority, due */
.task-item > div {
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 0.75rem;
  grid-template-columns: max-content max-content 1fr;
}

.empty-list {
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  place-items: center;
}

/* Hover states */
@media (hover) {
  button:not(button:disabled):hover,
  select:hover,
  input[type="checkbox"]:hover {
    cursor: pointer;
  }

  form button:hover {
    opacity: 0.75;
  }

  input:hover {
    cursor:text;
  }

  p.due:hover:not(.task-item.completed p.due) {
    cursor: pointer;
  }

  .list-item:not(.list-item.active) {  
    background: linear-gradient(to right, var(--palette-color-secondary-hover) 50%, white 50%);
    background-size: 200% 100%;
    background-position: top right;
    transition: background 0.1s linear, color 0.25s ease;
  }

  .list-item:not(.list-item.active):hover {
    cursor: pointer;
    transition: background 0.25s linear;
    background-position: top left;
  }

  .list-item.active {
    cursor: default;
    transition: color 0.5s ease, background 0.25s linear;
    background-color: var(--palette-color-secondary);
  }

  .task-item:hover:not(.task-item.completed) {
    background-color: var(--palette-color-primary-hover);
  }

  button.add {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  button.add:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: var(--palette-color-secondary-hover-dark);
    color: var(--palette-light);
  }

  button.expand:hover {
    background-color: var(--palette-color-secondary-hover-dark);
    letter-spacing: 1.3rem;
    font-weight: 600;
    transition: letter-spacing 0.5s ease, font-weight 0.2s ease;
  }

  button.delete {
    transition: transform 0.5s ease;
  }

  button.delete.list:hover {
    transition: transform 0.5s ease;
    transform: translateY(-50%) scale(1.2);
  }

  button.delete.task:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2);
  }

  button.priority {
    transition: transform 0.25s ease;
  }

  button.priority:not(.task-item.completed button.priority):hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }

  .task-item.completed button.priority:hover {
    cursor: default;
  }

  /* Checkbox checkmark */
  input[type=checkbox]:not(:checked):hover:after {
    -webkit-appearance: none;
    -webkit-transform-origin: center;

    appearance: none;
    transform-origin: center;
    content: '\2713';
    opacity: 0.75;
    color: var(--priority-high);
  }

  input[type="checkbox"]:checked:hover:after {
    opacity: 0.5;
  }
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {

  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes spread-down {
    0% {
      gap: 1.5rem;
    }
    100% {
      gap: 0.25rem;
    }
  }

  @keyframes spread-up {
    0% {
      gap: 0rem;
    }
    100% {
      gap: 1rem;
    }
  }

  form {
    animation-name: scale;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
  }
  
  ul {
    animation-name: scale;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
  }

  .list-section, .task-section {
    animation-name: spread-up;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  .list-container, .task-container {
    animation-name: spread-down;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  
  button.add-new {  
    animation-name: scale;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: 300px minmax(min-content, 800px);
    column-gap: 1rem;
  }

  header {
    max-width: 800px;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .list-section {
    height: 80vh;
  }
  
  .task-container, .list-container {
    display: grid;
    overflow-y: scroll;
    margin-left: 0.75rem;
  }

  .list-section button.expand {
    display: none;
  }
  
  .task-section {
    position: relative;
    height: auto;
    max-height: 80vh;
  }

  .task-section .task-container {
    overflow-y: scroll;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track-piece {
    background: var(--palette-color-secondary-hover);
    background-color: var(--palette-color-secondary-hover);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--palette-color-secondary-hover-dark);
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: var(--palette-color-secondary);
  }
  
  ::-webkit-scrollbar-track-piece {
    background: none;
    background-color: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--palette-color-secondary);
    border-top: 0.25rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    background-clip: padding-box;
  }
}